@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
body {
    font-family: 'Lato', Arial, sans-serif;
    color: #6b6b6b;
    font-size: 17px;
    line-height: 1.6;
}

/*TODO toggler color*/
/*TODO add modal head & foot color*/
/*TODO change modal button styles*/

.navbar-logo {
    height: 50px;
    width: 50px;
}

.navbar {
    transition: all 0.2s ease-out;
}

.nav-link, .navbar-toggler-icon{
    color: white;
}
.navbar-scroll {
    background: #343a40;
    color: white;
}

.carousel {
    box-shadow: 0 5px 5px #555555;
}
.carousel img{
    height:800px;
    width: 100%;
    animation: zoom 30s ease 0s normal both infinite;
    -webkit-animation: zoom 30s ease 0s normal both infinite;
    -moz-animation: zoom 30s ease 0s normal both infinite;
    -ms-animation: zoom 30s ease 0s normal both infinite;
    -o-animation: zoom 30s ease 0s normal both infinite;
}

.heading {
    font-size: 38px;
    text-transform: uppercase;
    max-width: 1000px;
}
.princi-msg, .princi-msg .modal-body{
    background: #ff4c64;
    color: white;
}

.princi-msg .msg-photo img{
    box-shadow: -10px 10px 10px #45454545;
}

.container-fluid {
    padding: 30px;
}
.msg {
    max-width: 1000px;
}

.chairman-msg {
    box-shadow: 0 5px 5px rgba(70,70,70,0.8);
    -webkit-box-shadow: 0 -5px 5px rgba(70,70,70,0.8);
    background: #4c76ff;
    color: white;
}

.chairman-msg .modal-body {
    background: #e6a7b9;
    color: white;
}
.chairman-msg .msg-photo img{
    box-shadow: 10px 10px 10px #45454545;
}

.tpo-message {
    background: #ff9a4c;
    color: white;
    box-shadow: 0 5px 10px rgba(70,70,70,0.8);
    -webkit-box-shadow: 0 -5px 10px rgba(70,70,70,0.8);
}

.tpo-message .row .col-sm-6:first-child {
    border-right: 5px solid #777777;
}

.tpo-message .msg-photo img{
    box-shadow: 0 0 15px 5px #656565;
}

.company {
    background: #fff34c;
    color: #757575;
    box-shadow: 0 5px 10px rgba(70,70,70,0.8);
    -webkit-box-shadow: 0 -5px 10px rgba(70,70,70,0.8);
}

.company .row {
    margin-top: 10px;
}
@keyframes zoom {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .navbar-logo {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 574px) {
    .msg-photo {
        display: none;
    }

    .tpo-message .row .col-sm-6:first-child {
        border-right: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 1225px) {
    .company-img {
        display: none;
    }
}