/*TODO add modal head & foot color*/
/*TODO change modal button styles*/

.navbar-dark {
    background: transparent;
}
.navbar-scroll {
    background: #17252A;
    color: white;
}

.carousel {
    box-shadow: 0 5px 20px #555555;
}
.carousel img{
    height:800px;
    width: 100%;
    animation: zoom 30s ease 0s normal both infinite;
    -webkit-animation: zoom 30s ease 0s normal both infinite;
    -moz-animation: zoom 30s ease 0s normal both infinite;
    -ms-animation: zoom 30s ease 0s normal both infinite;
    -o-animation: zoom 30s ease 0s normal both infinite;
}

.heading {
    font-size: 38px;
    text-transform: uppercase;
    max-width: 1000px;
}
.princi-msg {
    background: #344955;
    color: #fff;
    box-shadow: 0 0 15px 2.5px #333333;
    -moz-box-shadow: 0 0 15px 2.5px #333333;
    z-index: 1;
    position: relative;
}

.princi-msg .modal-body {
    background: #344955;
    color: #fff;
}
.princi-msg .msg-photo img{
    box-shadow: -2.5px 2.5px 20px #000;
}

.princi-msg .modal-btn, .princi-msg .modal-btn:active, .princi-msg .modal-btn:link, .princi-msg .modal-btn:visited  {
    background-color: #F9AA33;
    color: black;
    border-color: transparent;
}

.princi-msg .modal-btn:hover{
    background-color: #ff543c;
    color: white;
}

.container-fluid {
    padding: 30px;
}
.msg {
    max-width: 800px;
}

.chairman-msg {
    background: #F9AA33;
    color: white;
    position: relative;
}


.chairman-msg .modal-body {
    background: #F9AA33;
    color: white;
}

.chairman-msg .msg-photo img{
    box-shadow: 5px 5px 20px #454545;
}

.chairman-msg .modal-btn, .chairman-msg .modal-btn:active, .chairman-msg .modal-btn:link, .chairman-msg .modal-btn:visited {
    background-color: #344955;
    color: white;
}

.chairman-msg .modal-btn:hover {
    background-color: #232f34;
}
.tpo-message {
    position: relative;
    background: #344955;
    color: #fff;
    z-index: 1;
    box-shadow: 0 0 15px 2.5px #333333;
    -moz-box-shadow: 0 0 15px 2.5px #333333;
}

.tpo-message .row .col-sm-6:first-child {
    border-right: 5px solid #F9AA33;
}

.tpo-message .msg-photo img{
    box-shadow: 0 0 15px 5px #222222;
}

.company {
    position: relative;
    background: #F9AA33;
    color: white;
    box-shadow: 0 5px 20px rgba(50,50,50,0.8);
    -webkit-box-shadow: 0 -5px 20px rgba(50,50,50,0.8);
}

.company .row {
    margin-top: 10px;
}

@keyframes zoom {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .navbar-logo {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 574px) {
    .msg-photo {
        display: none;
    }

    .tpo-message .row .col-sm-6:first-child {
        border-right: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 1225px) {
    .company-img {
        display: none;
    }
}

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 10px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}