.navbar-scroll {
    background: #17252A;
    color: white;
}

.carousel {
    box-shadow: 0 5px 20px #555555;
}
.carousel img{
    height:800px;
    width: 100%;
    animation: zoom 30s ease 0s normal both infinite;
    -webkit-animation: zoom 30s ease 0s normal both infinite;
    -moz-animation: zoom 30s ease 0s normal both infinite;
    -ms-animation: zoom 30s ease 0s normal both infinite;
    -o-animation: zoom 30s ease 0s normal both infinite;
}

.modal-btn, .modal-btn:active, .modal-btn:link, .modal-btn:visited{
    background: #E98074;
    border: 0;
    transition: all 0.2s ease-in-out;
}

.modal-btn:hover {
    background: #E85A4F;
}
.heading {
    font-size: 38px;
    text-transform: uppercase;
    max-width: 1000px;
}
.princi-msg, .princi-msg .modal-body{
    background: #3AAFA9;
    color: #efefef;
}

.princi-msg .msg-photo img{
    box-shadow: -5px 5px 20px #555555;
}

.container-fluid {
    padding: 30px;
}
.msg {
    max-width: 1000px;
}

.chairman-msg {
    box-shadow: 0 -5px 20px rgba(70,70,70,0.8);
    -webkit-box-shadow: 0 -5px 20px rgba(70,70,70,0.8);
    background: #2B7A78;
    color: white;
}

.chairman-msg .modal-body {
    background: #2B7A78;
    color: white;
}
.chairman-msg .msg-photo img{
    box-shadow: 5px 5px 20px #454545;
}

.tpo-message {
    background: #3AAFA9;
    color: #efe;
    box-shadow: 0 -5px 20px rgba(70,70,70,0.8);
    -webkit-box-shadow: 0 -5px 20px rgba(70,70,70,0.8);
}

.tpo-message .row .col-sm-6:first-child {
    border-right: 5px solid #777777;
}

.tpo-message .msg-photo img{
    box-shadow: 0 0 15px 5px #757575;
}

.company {
    background: #2B7A78;
    color: white;
    box-shadow: 0 5px 20px rgba(50,50,50,0.8);
    -webkit-box-shadow: 0 -5px 20px rgba(50,50,50,0.8);
}

.company .row {
    margin-top: 10px;
}

.footer-distributed{
    background-color: #E85A4F;
    width: 100%;
    text-align: left;
    padding: 100px 50px;
    margin-top: 0;
    box-shadow: 0 -5px 20px rgba(70,70,70,0.8);
    -webkit-box-shadow: 0 -5px 20px rgba(70,70,70,0.8);
}

.footer-distributed .footer-left {
    color:  white;
    font-size: 14px;
    margin: 0;
}


.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
    margin-left: 3px;
}

@keyframes zoom {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .navbar-logo {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 574px) {
    .msg-photo {
        display: none;
    }

    .tpo-message .row .col-sm-6:first-child {
        border-right: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 1225px) {
    .company-img {
        display: none;
    }
}

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 10px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}