@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
body {
    font-family: 'Lato', Arial, sans-serif;
    color: #6b6b6b;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.6;
}

/*TODO toggler color*/
/*TODO add modal head & foot color*/
/*TODO change modal button styles*/

.navbar-logo {
    height: 50px;
    width: 50px;
}

.navbar-dark {
    background: #17252A;
    color: white;
}

.navbar {
    transition: all 0.2s ease-out;
}

.nav-link, .navbar-toggler-icon{
    color: white;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.footer-distributed{
    background-color: #E85A4F;
    width: 100%;
    text-align: left;
    padding: 100px 50px;
    margin-top: 0;
    box-shadow: 0 -5px 20px rgba(70,70,70,0.8);
    -webkit-box-shadow: 0 -5px 20px rgba(70,70,70,0.8);
}

.footer-distributed .footer-left {
    color:  white;
    font-size: 14px;
    margin: 0;
}


.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
    margin-left: 3px;
}