@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
body {
    font-family: 'Exo', sans-serif;
    color: #6b6b6b;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.6;
}

/*TODO toggler color*/


.navbar-logo {
    height: 50px;
    width: 50px;
}

.navbar-dark {
    background: #212121;
    color: white;
}

.navbar {
    transition: all 0.2s ease-out;
}

.nav-link, .navbar-toggler-icon{
    color: white;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.footer-distributed{
    background-color: #212121;
    width: 100%;
    text-align: left;
    padding: 100px 50px;
    margin-top: 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 15px 2.5px #333333;
    -moz-box-shadow: 0 0 15px 2.5px #333333;
}

.footer-distributed .footer-left {
    color: #F9AA33;
    font-size: 14px;
    margin: 0;
}


.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    font-size: 20px;
    color: #F9AA33;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
    margin-left: 3px;
}