body {
    background: #F9AA33;
}

.noticeContainer {
    margin-bottom: 50px;
}
.event-card {
    max-width: 900px;
    margin-top: 50px;
    border-radius: 10px;

}

.date {
    background: #344955;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px 2.5px #444444;
    font-weight: bold;
    z-index: 1;
}

.date .day {
    /*height: 50%;*/
    font-size: 30px;
}

.date .month {
    font-size: 25px;
}
.description {
    background: #232f34;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px 2.5px #444444;
    position: relative;
}

.description .title {
    font-size: 34px;
}

.description .info {
    font-size: 20px;
}

.link, .link:hover {
    text-decoration: none;
    color: white;
}

.footer-distributed {
    position: relative;
    bottom: 0;
}

@media screen and (min-width: 578px) and (max-width: 986px) {
    .date .day {
        font-size: 40px;
    }

    .date .month {
        font-size: 30px;
    }

    .description .title {
        font-size: 28px;
    }

    .description .info {
        font-size: 18px;
    }

    .link {
        font-size: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 578px) {
    .date .day {
        font-size: 20px;
    }

    .date .month {
        font-size: 18px;
    }

    .description .title {
        font-size: 20px;
    }

    .description .info {
        font-size: 16px;
    }

    .link {
        font-size: 16px;
    }
}